

<h2><%= @cocktail.name %></h2>

<%= form_for (@cocktail)  do |f| %>
  <%= f.label :new_name %>
  <%= f.text_field :name%>
  <%= f.submit class:"btn btn-default"%>
<% end %>


<%= link_to "Never mind, just go back to the cocktail", cocktail_path(@cocktail) %>
