<h2><%=@cocktail.name%></h2>

<h4><%= link_to "Change the cocktail's name", edit_cocktail_path(@cocktail)  %>
<%= link_to "Delete this cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure you want to completly delete this cocktail?" } %> </h4>


<%#= link_to 'Add an ingredient to the cocktail', new_cocktail_dose_path(@cocktail) %>

<br/>
<br/>
<br/>
<br/>

<h3>Ingredients</h3>
<ul>
<% @cocktail.doses.each do |dose| %>
<li><h4>
<%= dose.ingredient.name %> :



<%= dose.description %>



</h4>
 <%= link_to "Change the amount of #{dose.ingredient.name}" , edit_cocktail_dose_path(@cocktail, dose) %>
 <br/>
 <%= link_to "Delete the #{dose.ingredient.name}", cocktail_dose_path(@cocktail, dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

      </li>
<% end %>
</ul>


<br/>
<br/>
<br/>
<br/>

<h4>Which ingredient would you like to add to the cocktail?</h4>
<%= form_for ([@cocktail, @dose])  do |f| %>
  <%= f.collection_select :ingredient_id, @ingredients, :id, :name%>
  <%= f.label :amount %>
  <%= f.text_field :description %>
  <%= f.submit class:"btn btn-primary" %>
<% end %>


