<h2><%= link_to @cocktail.name, cocktail_path(@cocktail)%></h2>

<h3> You are now using <em><%= @dose.description %></em> of <%= @dose.ingredient.name %>.
How much do you actually want to use?

</h3>

<%= simple_form ([@cocktail, @dose])  do |f| %>
  <%= f.input :description, label: none, error: 'Username is mandatory, please specify one' %>
  <%= f.error_message_for(:description)%>
  <%= f.submit class:"btn btn-primary"%>
<% end %>
